<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">
  <!-- UR3e with the Robotiq 2F-85 description and mesh assets. -->
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur3e"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>

  <link name="world"/>
  <link name="ground_plane">
    <visual><geometry><box size="5 5 0"/></geometry></visual>
    <collision><geometry><box size="5 5 0"/></geometry></collision>
  </link>
  <joint name="ground_plane_joint" type="fixed">
    <origin xyz="0 0 -0.01" rpy="0 0 0"/>
    <parent link="world"/><child link="ground_plane"/>
  </joint>

  <xacro:ur_robot
    name="ur"
    tf_prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    sim_ignition="$(arg sim_ignition)"
    initial_positions="${xacro.load_yaml('$(arg initial_positions_file)')}"
    ur_type="$(arg ur_type)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:ur_to_robotiq
    prefix="$(arg prefix)"
    parent="$(arg prefix)tool0"
    child="$(arg prefix)gripper_mount_link"/>
  <xacro:robotiq_gripper
    name="$(arg prefix)robotiq_2f85"
    prefix="$(arg prefix)"
    parent="$(arg prefix)gripper_mount_link"
    sim_gazebo="$(arg sim_ignition)"
    include_ros2_control="$(arg sim_ignition)"
    gripper_closed_position="0.0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>
  <gazebo reference="$(arg prefix)robotiq_85_base_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>
  <link name="$(arg prefix)gripper_tcp"/>
  <joint name="$(arg prefix)robotiq_2f85_tcp_joint" type="fixed">
    <parent link="$(arg prefix)robotiq_85_base_link"/>
    <child link="$(arg prefix)gripper_tcp"/>
    <origin xyz="0 0 0.165" rpy="0 0 0"/>
  </joint>

  <xacro:if value="$(arg sim_ignition)">
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>$(arg prefix)controller_manager</controller_manager_node_name>
      </plugin>
      <plugin filename="ignition-gazebo-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
        <parent_link>$(arg prefix)robotiq_85_base_link</parent_link><child_model>red_cube</child_model><child_link>link</child_link>
        <attach_topic>/gripper/red_cube/attach</attach_topic><detach_topic>/gripper/red_cube/detach</detach_topic>
        <output_topic>/model/red_cube/detachable_joint/state</output_topic>
      </plugin>
      <plugin filename="ignition-gazebo-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
        <parent_link>$(arg prefix)robotiq_85_base_link</parent_link><child_model>yellow_cube</child_model><child_link>link</child_link>
        <attach_topic>/gripper/yellow_cube/attach</attach_topic><detach_topic>/gripper/yellow_cube/detach</detach_topic>
        <output_topic>/model/yellow_cube/detachable_joint/state</output_topic>
      </plugin>
      <plugin filename="ignition-gazebo-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
        <parent_link>$(arg prefix)robotiq_85_base_link</parent_link><child_model>blue_cube</child_model><child_link>link</child_link>
        <attach_topic>/gripper/blue_cube/attach</attach_topic><detach_topic>/gripper/blue_cube/detach</detach_topic>
        <output_topic>/model/blue_cube/detachable_joint/state</output_topic>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
