[submodule "Universal_Robots_ROS2_GZ_Simulation"]
	path = Universal_Robots_ROS2_GZ_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_GZ_Simulation.git
[submodule "ros2_robotiq_gripper"]
	path = ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
[submodule "serial"]
	path = serial
	url = https://github.com/tylerjw/serial.git
